    <div class="col-sm-9-2 col-sm-offset-3 col-md-10 col-md-offset-2 main configurationView">
            <h1 class="page-header">Configuration View</h1>
           
                
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#generalMenuTab" aria-expanded="true">General</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#sourceTab" aria-expanded="false">Source</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#hiveTab" aria-expanded="false">Hive</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#typeMappingTab" aria-expanded="false">Type Mapping</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#serverTab" aria-expanded="false">Server</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#tableTab" aria-expanded="false">Table</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="generalMenuTab">
                        <h3>General Menu</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                    </div>

                    <div class="tab-pane fade" id="sourceTab">
                        <h3>Source</h3>

                        <p>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>

                    <div class="tab-pane fade" id="hiveTab">
                        <h3>Hive</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam.</p>
                    </div>

                    <div class="tab-pane fade" id="typeMappingTab">
                        <h3>Type mapping</h3>

                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.</p>
                    </div>

                    <div class="tab-pane fade" id="serverTab">
                        <h3>Server</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam.</p>
                    </div>

                    <div class="tab-pane fade" id="tableTab">
                        <h3>Table</h3>

                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
        </div>

              